*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100%;
    background: rgb(4,2,58);
    background: radial-gradient(circle, rgba(4,2,58,1) 0%, rgba(17,129,150,1) 0%, rgba(6,6,90,1) 0%, rgba(5,4,77,1) 0%, rgba(229,246,109,1) 0%, rgba(151,167,65,1) 100%, rgba(0,212,255,1) 100%, rgba(2,0,36,1) 100%);
}

.title{
    width: 100%;
    height: 20%;
    text-align: center;
    color: #FFF;
}

.main-cont{
    display: flex;
    justify-content: space-evenly;
    align-content: space-around;
    flex-wrap: wrap;
    width: 80%;
    height: calc(80%-100px);
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;

}

.cont{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #FFF;
    clip-path: polygon(5% 92%, 0 0, 100% 0, 96% 92%, 50% 100%);
    width: 100px;
    height: 100px;
    background: rgb(4,2,58);
    background: radial-gradient(circle, rgba(4,2,58,1) 0%, rgba(17,129,150,1) 0%, rgba(6,6,90,1) 0%, rgba(5,4,77,1) 0%, rgba(246,226,109,1) 0%, rgba(171,154,67,1) 100%, rgba(0,212,255,1) 100%, rgba(2,0,36,1) 100%);
    margin: 10px;

}

.cont:hover{
    width: 110px;
    height: 110px;
    box-shadow: 0 0 1em 0 #000;
}
